body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
}

.content {
    display: flex;
    justify-content: space-between;
}

.info, .games, .contact {
    flex-basis: 30%;
}

.info h2, .games h2, .contact h2 {
    color: #333;
    margin-bottom: 10px;
}

.info p, .games p, .contact p {
    color: #555;
    margin-bottom: 10px;
}

.info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info ul li {
    margin-bottom: 5px;
}

.contact a {
    color: #007bff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
